@import "src/styles/vars";

.form{
    width: 500px;
    height: 480px;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 250px);
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: transparent;
    padding: 30px;
}
.input-login{
    width: 100%;
}
.email{
    margin-bottom: 30px;
}
.password{
    margin-bottom: 60px;
}
.logo{
    margin-bottom: 60px;
    .title{
        font-size: 64px;
        color: $main-color;
        font-weight: normal;
        text-align: center;
    }
}
.buttonContainer{
    text-align: center;
}

