@import "src/styles/vars";

:host {
  width: 100%;
  @extend %panel;
  display: block;
}
.ui-table {
  display: table;
  padding-top: 10px;
}
.ui-header {
  display: table-row;
  .ui-cell {
    color: rgba(0, 0, 0, 0.25);
    font-size: 0.8em;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    &:after {
      transition: all 0.3s;
      content: "";
      height: 0px;
      width: 0px;
      border-top: 0px;
      border-left: 0px;
      border-bottom: 0px;
      border-right: 0px;
      border-style: solid;
      display: inline-block;
      vertical-align: middle;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
      transform: translateY(0);
    }
    &.active {
      color: $main-color;
      &.descending:after {
        content: "";
        height: 0px;
        width: 0px;
        border-top: 5px;
        border-left: 5px;
        border-bottom: 5px;
        border-right: 5px;
        border-style: solid;
        display: inline-block;
        vertical-align: middle;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        transform: translateY(-25%);
      }
      &.ascending:after {
        content: "";
        height: 0px;
        width: 0px;
        border-top: 5px;
        border-left: 5px;
        border-bottom: 5px;
        border-right: 5px;
        border-style: solid;
        display: inline-block;
        vertical-align: middle;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        transform: translateY(25%);
      }
    }
  }
}
.ui-row {
  display: table-row;
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    background: $off-color;
  }
  &:active {
    background: #e6f0ff;
  }
}

.ui-cell {
  display: table-cell;
  text-align: left;
  font-size: 0.85em;
  padding: 15px;
  color: $black;
  vertical-align: middle;
}

.no-data {
  text-align: center;
  padding: 10px;
  color: #ababab;
  font-size: 0.9em;
  font-style: italic;
  font-weight: normal;
}

.loading {
  animation-name: loading;
  animation-iteration-count: infinite;
  height: 2px;
  background-color: $main-color;
  animation-duration: 3s;
  width: 100%;
  transform-origin: left;
}


@keyframes loading {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  51% {
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}