
<div class="ui-table">
    <div class="ui-header">
      <!-- <div class="ui-cell" ng-if="tableConfig.selectable">
        <div class="custom-check-container" (click)="toogleSelectAll()" *ngIf="data && data.length > 0">
          <input type="checkbox" [ngModel]="isAllSelect()"/>
          <div class="custom-check"></div>
        </div>
      </div> -->
      <div class="ui-cell" 
      [ngClass]="{
        'active': activeHeader.header === header,
        'descending': activeHeader.header === header &&  activeHeader.order === 'descending',
        'ascending': activeHeader.header === header &&  activeHeader.order === 'ascending'
      }" 
      (click)="clickOnHeader(header)" 
      *ngFor="let header of headers">
        {{header}}
      </div>
    </div>
    <!-- <div class="ui-body"> -->
      <div class="ui-row" *ngFor="let item of data" (click)="emitRow(item)">
        <div class="ui-cell" *ngFor="let key of item | loopAsObject" (click)="emitCell(item[key])">
          <app-custom-cell *ngIf="customViews[key]" [view]="customViews[key]" [data]="item[key]"></app-custom-cell>          
          {{!customViews[key] ? item[key] : null}}
        </div>
      </div>

  </div>
  <div class="no-data" *ngIf="!loading && (!data || data.length <= 0)">
    {{noDataTitle}}
  </div>
  <div *ngIf="loading" class="loading">
    <!-- {{noDataTitle}} -->
  </div>