@import "src/styles/vars";

.search{
    position: relative;
    margin-top: 10px;
}
.header{
    background-color: white;
    height: 50px;
    padding: 0 10px;
    &.open{
        background: $main-color;
        border-bottom: 1px solid #EFF0F5;
        p{
            color: white;
        }
    }
    app-button{
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
.data{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .subtitle{
        float: left;
        font-size: 12px;
        color: #7E7E7F;
        opacity: 0.7;
    }
    .title{
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: #7E7E7F;
        margin: 0 10px;
    }
}
.icon{
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
    fill: grey;
}
.inputs{
    background-color: $main-color;
    margin-top: -1px;
    min-height: 140px;
    border-top: 1px solid rgba(255, 255, 255, 0.0);
    padding: 0 10px;
    .divider2{
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        margin-bottom: -5px;
        margin-top: -1px;
        width: 97%;
    }
    .form{
        padding: 5px;
        margin-bottom: 10px;
        display: inline-block;
        .input{
            margin-right: 5px;
            background-color: $main-color;
            border: none;
        }
    }
}

.buttons{
    height: 50px;
    position: absolute;
    bottom: 0;
    right: calc(50%);
    transform: translateX(50%);
    .clear{
        background-color: transparent;
        color: white;
        font-size: 14px;
        border: none;
        margin-right: 20px;
        position: relative;
        bottom: 50%;
        transform: translateY(50%);
        height: 50px;
    }
}

.divider{
    height: 16px;
    background-color: white;
    padding: 0 21px;
    .divider1{
        position: absolute;
        top: 44px;
        width: 96%;
        border: 0.5px solid #d8dde7;
        margin-bottom: 10px;
    }
}
.form{
    float: left;
    display: flex;
}






