<app-search-header 
    (clickSearch)="receiveForm($event)" 
    title="Users" 
    [inputs]="inputs"
    >
</app-search-header>

<app-ui-table 
    [headers]="tableHeaders" 
    (clickHeader)="clickheader($event)" 
    [data]="tableData" 
    [customViews]="customViews"
    [noDataTitle]="noDataTitle"
    [loading]="loadingData"
    >
</app-ui-table>
