<label class="container" 
[appUiFormStylesController]="this" 
[appUiFormStylesControllerModelElement]="uiModel"
[ngClass]="{'filled': filled, 'focus': focus}">
  <div class="placeholder">{{placeholder}}</div>
  <div class="select" (click)="setDisplayOptions(!displayOptions, $event)">{{labelOnDisplay}}&nbsp;</div>
  <div class="select-options" *ngIf="displayOptions">
    <div class="select-option" *ngFor="let option of selectOptions" [ngClass]="{'selected': value === option.value}" (click)="selectItem(option)">{{option.label}}</div>
    <div class="select-option" *ngIf="selectOptions.length <= 0">No options</div>
    <!-- <div class="select-option">test</div> -->
  </div>
  <select
    style="display: none;"
    #uiModel
    type="text"
    [(ngModel)]="value"
    [required]="required"
  >
</select>
</label>