@import "src/styles/vars";

:host {
  @extend %ui-form;
  cursor: pointer;
}
.select {
  padding: 17px 5px 6px 5px;
  padding-right: 25px;
  overflow: hidden;
  cursor: pointer;
  &:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 5px solid;
    display: block;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: $black; 
    position: absolute;
    right: 10px;
    top: 50%;
    ::ng-deep .dark-mode & {
      border-top-color: #FFF;
    }
  }
}
.select-options {
  width: 100%;
  position: absolute;
  top: 100%;
  @extend %panel;
}
.select-option {
  padding: 15px 5px 15px 5px;
  color: $black;
  cursor: pointer;
  font-size: 0.9em;
  @extend %transition;
  &.selected {
    font-weight: bolder;
  }
  &:hover {
    background-color: $off-color;
  }
}