@import "src/styles/vars";

:host{
    background-color: $main-color;
    border-radius: 24px;
    display: inline-block;
    cursor: pointer;
    min-width: 120px;
    padding: 10px $padding;
    position: relative;
    box-sizing: border-box;
    @extend %transition;
    &:hover{
        background-color: darken($main-color, 5%);
        box-shadow: 0 15px 25px rgba(83, 150, 250, 0.3);
    }
    &.light-button{
        background-color: white;
        padding-right: $padding * 2 + 10px;
        &:hover{
            background-color: darken(white, 5%);
            box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
        }
    }
    .button{
        color: white;
        font-size: 14px;
    }
    &.light-button .button{
        color: $main-color;
    }

    svg {
        position: absolute;
        right: $padding;
        top: 50%;
        transform: translateY(-50%);
        * {
            fill: #FFF;
        }
    }

    &.light-button {
        svg {
            * {
                fill: $main-color;
            }
        }
    }
}
