@import "src/styles/vars";
@import "src/styles/mixins";

:host {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: none;
  
  @media screen and (max-width: $small-screen) {
    display: flex;
  }
}

::ng-deep {
  .menu-button {
    padding: 15px;
    left: 0;
    top: 0;
    display: inline-block;
    @extend %transition;
    &:hover {
      background-color: $main-color;
      svg-icon {
        @include svg-color-fill(#FFF !important);
      }
    }
    &:active {
      transition: 0.1s all;
      box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.15) inset;
    }
    svg-icon {
      @include svg-color-fill($black !important)
    }
  }
}