@import "src/styles/vars";

.search{
    position: relative;
}
.header{
    background-color: white;
    padding: 0px 15px;
    padding-right: 15px * 3;
    display: flex;
    min-height: 50px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    &.open{
        background: $main-color;
        .subtitle{
            color: white;
            opacity: 0.7;
        }
        .title{
            color: white;
        }
        .icon{
            fill: #FFF;
        }
        .divider{
            background-color: rgba(255, 255, 255, 0.35);
        }
    }
    .title{
        font-size: 16px;
        font-weight: 300;
        color: #7E7E7F;
    }
    .icon{
        cursor: pointer;
        fill: grey;
    }
    .divider{
        width: calc(100% - 30px);
        height: 1px;
        background-color: #e6e8f1;
        position: absolute;
        left: 15px;
        bottom: 0;
    }
}

.content{
    background-color: $main-color;
    padding: 15px;
}

app-add-input {
    margin-right: 10px;
}

.footer{
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .clear{
        cursor: pointer;
        color: white;
        font-size: 14px;
        margin-right: 20px;
        position: relative;
    }
}

.mainControllers {
    position: absolute;
    right: 15px;
    height: 16px;
    width: 16px;
    > * {
        position: absolute;
    }
}
