<label class="container"
[appUiFormStylesController]="this" 
[appUiFormStylesControllerModelElement]="uiModel"
[ngClass]="{'filled': filled, 'focus': focus}">
  <div class="placeholder">{{placeholder}}</div>
  <!-- <app-text-input #uiModel [(ngModel)]="value"></app-text-input> -->
  <input
    class="input"
    #uiModel
    type="text"
    [ngModel]="viewValue | async | date:format"
    (ngModelChange)="ngModelChange($event)"
    [required]="required"
    />
</label>