<div class="menu-button-container">
  <div class="menu-button" (click)="closeMenu()">
    <svg-icon src="assets/images/menu.svg" [svgStyle]="{ 'width.px':16, 'height.px': 16 }"></svg-icon>
  </div>
</div>
<ul class="group-item" *ngFor="let group of menuGroup">
  <li class="group">
    <div class="group-name">{{group.name}}</div>
    <ul>
      <li class="menu-item" *ngFor="let menu of group.items">
        <a [routerLink]="menu.link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" (click)="closeMenu()">
          <svg-icon class="icon" src="{{menu.iconPath}}" [svgStyle]="{ 'width.px':16, 'height.px': 16 }"></svg-icon>
          <span>{{menu.name | uppercase | translate}}</span>
        </a>
      </li>
    </ul>
  </li>
</ul>