@import "./reset";
@import "./vars";
@import "./mixins";

@import "./../app/modules/_ui-form/base.scss";

@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_light_macroman/OpenSans-Light-webfont, 100, normal, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont, 100, italic, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_light_macroman/OpenSans-Light-webfont, 200, normal, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont, 200, italic, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_regular_macroman/OpenSans-Regular-webfont, 300, normal, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_italic_macroman/OpenSans-Italic-webfont, 300, italic, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_semibold_macroman/OpenSans-Semibold-webfont, 400, normal, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_semibolditalic_macroman/OpenSans-SemiBoldItalic-webfont, 400, italic, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_bold_macroman/OpenSans-Bold-webfont, 500, normal, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont, 500, italic, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont, 600, normal, eot svg woff ttf);
@include font-face('Open Sans', assets/fonts/open-sans-fontfacekit/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont, 600, italic, eot svg woff ttf);

body {
  background: $off-color;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  min-height: 100vh;
  background: $off-color;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: $small-screen) {
    padding-top: 48px;
  }

}
