$main-color: #739ffd;
$off-color: #f5f6fa;
$black: #7d7d7e;

$error-color: #ff6262;
$error-color-dark: #da0000;

//Dims
$small-screen: 768px;
$padding: 20px;
$menu-w: 250px;
$menu-mobile-h: 48px;

// Place Holderes
%transition {
    transition: all 0.2s ease-in-out;
}
%panel {
    background: #FFF;
    box-shadow: 0px 3px 4px -1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
%ui-form {
    position: relative;
    display: inline-block;
    width: 180px;
}
