<span *ngFor="let item of url; let i = index" (click)="navigate(i)">
    <svg-icon [applyCss]="true" *ngIf="i === 0 && icon" [src]="icon" [svgStyle]="{ 'width.px':16, 'height.px': 16, 'margin-right.px': 12 }"></svg-icon>
    {{item | uppercase | translate}}
</span>
<div class="logout">
    <button class="button-dropdown" (click)="toogleState(!open)">P</button>
    <p class="name-user">Pedro Israel</p>
    <div *ngIf="open" class="dropdown">
            <div>
                <button class="button-login" (click)="logout()"> Logout </button>
                <button class="button-request-test" (click)="test()"> Request Test </button>
            </div>
        </div>
</div>
