@import "src/styles/vars";

:host {
    color: $black;
    position: sticky;
    padding: $padding;
    margin: -$padding;
    top: -$padding;
    background-color: $off-color;
    width: 100%;
    display: block;
    z-index: 1;
    span {
        text-transform: capitalize;
        vertical-align: middle;
        font-weight: 300;
        &:not(:last-child) {
            &::after {
                vertical-align: unset;
                margin: 0 2px;
            }
        }
        &:hover {
            color: $main-color;
            svg {
                * {
                    fill: $main-color;
                }
            }

        }
        cursor: pointer;
        svg-icon {
            vertical-align: middle;
        }
        svg {
            * {
                fill: $black;
            }
        }
    }
}

.logout{
    float: right;
    display: inline-flex;
    .name-user{
        color: #B1B1B1;
        font-weight: 300;
    }
    .button-dropdown{
        margin-right: 20px;
        border-radius: 24px;
        padding: 6px 11px;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 200;
        background-image: radial-gradient(#99C7E8, $main-color);
        position: relative;
        top: 50%;
        transform: translateY(-30%);
    }
}
.dropdown{
    position: absolute;
    background-color: white;
    min-height: 140px;
    min-width: 120px;
    z-index: 999999999;
    right: 0px;
    top: 50px;
    box-shadow: -1px 1px 3px #dadada;
    border-radius: 5px;
    padding: 10px;
    .button-login{
        position: absolute;
        left: calc(50%);
        transform: translateX(-50%);
        border: none;
        padding: 10px;
        border-bottom: 1px solid #dadada;
        font-size: 14px;
        color: #7E7E7F;
        background-color: transparent;
        &:hover{
            color: $main-color;
        }
    }
    .button-request-test{
        position: absolute;
        left: calc(50%);
        transform: translateX(-50%);
        margin-top: 46px;
        border: none;
        padding: 10px;
        border-bottom: 1px solid #dadada;
        font-size: 14px;
        color: #7E7E7F;
        background-color: transparent;
        &:hover{
            color: $main-color;
        }
    }
}
