:host {
  display: block;
  width: 100%;
}
::ng-deep {

  // Toaster
  .toast-container {
    .toast {
      box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.23);
      transition: all 0.1s ease-in-out;
      &.toast-success {
        background-color: rgba(35, 212, 7, 0.6);
        border: 1px solid #23d407;
        box-shadow: 0 5px 5px -2px rgba(27, 173, 4, 0.6);
        &:hover {
          box-shadow: 0 6px 10px -2px rgba(27, 173, 4, 0.6);
        }
      }
      &.toast-info {
        background-color: rgba(7, 147, 212, 0.6);
        border: 1px solid #0778d4;
        box-shadow: 0 5px 5px -2px rgba(4, 91, 173, 0.6);
        &:hover {
          box-shadow: 0 6px 10px -2px rgba(4, 91, 173, 0.6);
        }
      }
      &.toast-warning {
        background-color: rgba(212, 106, 7, 0.6);
        border: 1px solid #d45907;
        box-shadow: 0 5px 5px -2px rgba(173, 105, 4, 0.6);
        &:hover {
          box-shadow: 0 6px 10px -2px rgba(173, 105, 4, 0.6);
        }
      }
      &.toast-error {
        background-color: rgba(243, 48, 34, 0.6);
        border: 1px solid #ee4545;
        box-shadow: 0 5px 5px -2px rgba(214, 46, 34, 0.6);
        &:hover {
          box-shadow: 0 6px 10px -2px rgba(214, 46, 34, 0.6);
        }
      }
      &:hover {
        transform: translateY(-1px);
      }
    }
  }
}