:host {
  position: relative;
  display: inline-block;
  width: 180px;
  overflow: hidden;
  label {
    cursor: text;
  }
}
// label {

// }
// .placeholder {
//   position: absolute;
//   top: 50%;
//   font-size: 1em;
//   transform: translateY(-50%);
//   padding-left: 5px;
//   color: #FFF;
//   transition: all 0.2s;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 100%;
//   .filled & {
//     font-size: 0.7em;
//     top: 0;
//     font-weight: inherit;
//     transform: translateY(0);
//     background-color: #fff;
//     border-radius: 0px 0px 4px 0px;
//     padding: 2px 5px;
//     color: #5d9fff;
//   }
//   .focus & {
//     font-size: 0.7em;
//     top: 0;
//     font-weight: bolder;
//     transform: translateY(0);
//     background-color: #fff;
//     border-radius: 0px 0px 4px 0px;
//     padding: 2px 5px;
//     color: #5d9fff;
//   }
// }
// input {
//     border: 1px solid rgba(255, 255, 255, 0.30);
//     border-radius: 2px;
//     padding: 15px 5px 5px 5px;
//     color: #fff;
//     background-color: rgba(255, 255, 255, 0.15);
//     font-size: 0.9em;
// }
// .focus {

// }
// .filled {

// }