<div class="image-container">
    <!-- <div class="vehicle-image" *ngIf="data" [style.background-image]="'url('+data+')'"></div> -->
    <div class="profile-pic" [style.background-image]="url"></div> 
</div>