@import "src/styles/vars";

%filled {
  font-size: 0.7em;
  top: 0;
  font-weight: inherit;
  transform: translateY(0);
  padding: 2px 5px;
  color: $black;
  // .ng-invalid.ng-touched &{
  //   text-shadow: 1px 1px #f00;
  // }
  .dark-mode & {
    color: #FFF;
  }
  .ng-invalid.ng-touched  & {
   color: $error-color;
  }
  .dark-mode.ng-invalid.ng-touched  & {
    color: #FFF;
    text-shadow: 1px 1px #f00 !important;
  }
  .light-mode & {
    color: red;
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  font-size: 1em;
  transform: translateY(-50%);
  padding-left: 5px;
  color: $black;
  transition: all 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  .ng-invalid.ng-touched & {
    color: $error-color;
  }
  .dark-mode & {
    color: #FFF;
  }
  .dark-mode.ng-invalid.ng-touched & {
    color: #FFF;
    text-shadow: 1px 1px #f00;
  }
    // .ng-invalid.ng-touched & {
    //   text-shadow: 1px 1px #f00;
    // }
  .filled & {
    @extend %filled;
  }
  .focus & {
    @extend %filled;
    font-weight: bolder;
    color: $main-color;
  }
}

.input, .select {
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    border: 1px solid ;
    border-color: rgba(0, 0, 0, 0.30);
    border-radius: 2px;
    padding: 15px 5px 5px 5px;
    color: $black;
    font-size: 0.9em;
    background-color: rgba(255, 255, 255, 1);
    .ng-invalid.ng-touched & {
      color: $error-color;
      border-color: $error-color;
    }
    .dark-mode & {
      border-color: rgba(255, 255, 255, 0.30);
      background-color: rgba(255, 255, 255, 0.15);
      color: #FFF;
    }
    .dark-mode.ng-invalid.ng-touched & {
      color: #FFF;
      border-color: rgba(255, 255, 255, 0.30);
      text-shadow: 1px 1px #f00;
      box-shadow: 0px 0px 0px 1px inset rgba(255, 21, 26, 0.32);
    }
}

.ui-form {
  
}




