<app-mobile-ribbon></app-mobile-ribbon>
<div class="menu-container" [@coolFade]="isMenuVisible" *ngIf="isMenuVisible">
    <app-menu></app-menu>
</div>

<div class="main-container">
        <app-breadcrumb></app-breadcrumb>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>